h1.navbar-brand {
  margin: 0 !important;
}

.bg-primary{
  background: #28527B;
}
.flex-container-custom {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-item-custom {
  padding: 5px;
  line-height: 20px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-item-custom {
  padding: 5px;
  line-height: 20px;
  text-align: center;
}
.row-equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row-equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.g-item{
    background-position: center;
    background-size: cover;
}

.paginate-center{
  text-align:center;
}

.rd-mobilepanel_title{
  text-align: right;
}
.rd-mobilemenu .rd-mobilemenu_ul{
  left:0;
}

.rd-mobilemenu.active .rd-mobilemenu_ul{
  left:auto;
  right:0!important;
}

.navbar-nav a {
  font-size: x-large !important;
}

.navbar-nav {
  padding-top: 17px !important;
}

.navbar-header{
  padding-top: 23px !important;
}

.arabic_xl{
  font-size: 45px !important;
}

.arabic_lg{
  font-size: 38px !important;
}
.arabic_md{
  font-size: 27px !important;
}

.arabic_sm{
  font-size: 25px !important;
}

.arabic_xs{
  font-size: 20px !important;
}

.mail{
  font-family: "Cairo", sans-serif;
  font-size: 17px !important;
}

.dropdown-menu {
  padding-left: 0 !important;
}

#nav_language{
  font-family: "Cairo", sans-serif;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.page-header-custom {
  color: #000000;
  font-size: 3em;
}

.page-title {
  color: #000000;
  font-size: 2.5em;
}

.gallery-title {
  font-size: 3em !important;
}


.active_filter {
    text-decoration: none;
    background-color: #e8e8e8;
    color: #499C4D !important;
}

#filter {
  background: #499C4D;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

#filter li {
  margin-top: -8px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 35px;
  color: #ffffff;
  letter-spacing: -0.6px;
  vertical-align: middle;
  height: 100%;
}

#filter  a {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 2em;
}

#filter > li > a:hover,
#filter > li > a:focus {
  text-decoration: none;
  background-color: #e8e8e8;
  vertical-align: middle;
}

#filter > li.disabled > a {
  color: #9d9394;
}

#filter >li > a {
    width: 100%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    height: 125px;
}

#filter > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #9d9394;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

#home_numbers p {
  font-size: 2em;
}

@media(max-width:768px){
  #filter >li > a {
    height: 50px;
  }
}
