.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
.media-body {
  width: 10000px;
}
.media-object {
  display: block;
}
.media-right,
.media > .pull-right {
  padding-right: 10px;
}
.media-right img,
.media > .pull-right img {
  max-width: none;
}
.media-left,
.media > .pull-left {
  padding-left: 27px;
}
.media-left img,
.media > .pull-left img {
  max-width: none;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
@media (max-width: 450px) {
  .media-left,
  .media-right,
  .media-body {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-left: 0;
  }
  .media-left *,
  .media-right *,
  .media-body * {
    text-align: center;
  }
}
.media-middle {
  vertical-align: middle;
}
.media-bottom {
  vertical-align: bottom;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.media-list {
  padding-right: 0;
  list-style: none;
}
