h1.navbar-brand {
  margin: 0 !important;
}

.bg-primary{
  background: #28527B;
}

.flex-container-custom {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-item-custom {
  padding: 5px;
  line-height: 20px;
  text-align: center;
}
.row-equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row-equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.g-item{
    background-position: center;
    background-size: cover;
}

.paginate-center{
  text-align:center;
}

.dropdown-menu {
  padding-right: 0 !important;
}


.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    display:inline-block;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel {
    display: none;
    width: 100%;
    text-align:center;
    margin: 0 auto;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.page-header-custom {
  color: #000000;
  font-size: 3em;
}

.page-title {
  color: #000000;
  font-size: 2.5em;
}

.gallery-title {
  font-size: 3em !important;
}

.active_filter {
    text-decoration: none;
    background-color: #e8e8e8;
    color: #499C4D !important;
}

#filter {
  background: #499C4D;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

#filter li {
  margin-top: -8px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 35px;
  color: #ffffff;
  letter-spacing: -0.6px;
}

#filter  a {
  padding-left: 3px;
  padding-right: 3px;
}

/*#filter li + li {
  position: relative;
}
#filter li + li:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.5);
}*/

#filter > li > a:hover,
#filter > li > a:focus {
  text-decoration: none;
  background-color: #e8e8e8;
}

#filter > li.disabled > a {
  color: #9d9394;
}
#filter > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #9d9394;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
