h1.navbar-brand {
  margin: 0 !important;
}

.bg-primary{
  background: #28527B;
}
.flex-container-custom {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-item-custom {
  padding: 5px;
  line-height: 20px;
  text-align: center;
}
.row-equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row-equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.g-item{
    background-position: center;
    background-size: cover;
}

.paginate-center{
  text-align:center;
}

.dropdown-menu {
  padding-right: 0 !important;
}


.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    display:inline-block;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel {
    display: none;
    width: 100%;
    text-align:center;
    margin: 0 auto;
}

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.page-header-custom {
  color: #000000;
  font-size: 3em;
}

.page-title {
  color: #000000;
  font-size: 2.5em;
}

.gallery-title {
  font-size: 3em !important;
}
