<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @article.summary %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<div class="row col-4_mod-1">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail thumbnail4">
      <a class="thumb" data-fancybox-group="1" href="images/page-4_img2_original.jpg">
        <img src="images/page-4_img2.jpg" alt="" />
        <span class="thumb_overlay"></span>
      </a>

      <div class="caption">
        <h6>
        <a href="#">
          Lacinia fermentum
        </a>
      </h6>

        <p>
          Rutrum dui a varius. Mauris ornare tortor in eleifend blanditu. Quisque suscipit lacus vestibulum odio rhonc us, non iaculis lectus mattis. Integer
        </p>
        <a href="#" class="btn-link">
          <span class="fst" data-txt="Read More"></span>
          <span class="snd" data-txt="Read More"></span>
        </a>
      </div>
    </div>
  </div>
</div>
