<section class="well well-7">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
        <h3 style="font-size:1.5em;"><%= @article.title %></h3>
        <hr>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= @article.created_at %></p>
        <hr>

        <div class="flex-container-custom" style="height:400px; overflow: hidden;">
          <img src="/assets/page-4_img4_original.jpg" class="flex-item-custom" alt="">
        </div>
        <br>
        <h3 style="font-size:1em;"><%= @article.summary %></h3>
        <p>
          <%= @article.text %>
        </p>
      </div>


    </div>

  </div>
</section>
