<div class="page">
  <header>
    <div id="stuck_container" class="stuck_container">
      <nav class="navbar navbar-default navbar-static-top ">
        <div class="container">
          <div class="navbar-header">
            <h1 class="navbar-brand">
              <a data-type='rd-navbar-brand' href="./">Constr<span>ex</span>
              </a>
            </h1>
          </div>

          <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">
            <li class="active dropdown">
              <a>Home</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="index-6.html">Components</a>
                </li>
                <li>
                  <a href="index-7.html">Footer light</a>
                </li>
                <li>
                  <a href="index-8.html">Footer dark</a>
                </li>
                <li>
                  <a href="index-9.html">Footer primary</a>
                </li>
                <li>
                  <a href="index-14.html">Header light</a>
                </li>
                <li>
                  <a href="index-10.html">Header transparent</a>
                </li>
                <li>
                  <a href="index-11.html">Header background</a>
                </li>
                <li>
                  <a href="index-12.html">Onepage template</a>
                </li>
                <li>
                  <a href="index-13.html">Coming soon</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="index-1.html">About</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Aliuam congu
                  </a>
                </li>
                <li>
                  <a href="#">Ferentum nisl
                  </a>
                </li>
                <li>
                  <a href="#">Mauris accan
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Aliuam congu</a>
                    </li>
                    <li>
                      <a href="#">Ferentum nisl</a>
                    </li>
                    <li>
                      <a href="#">Mauris accan
                      </a>
                    </li>
                    <li>
                      <a href="#">Nullavel diam</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#">Nullavel diam</a>
                </li>

              </ul>
            </li>
            <li>
              <a href="index-2.html">Services</a>
            </li>
            <li>
              <a href="index-3.html">Projects</a>
            </li>

            <li>
              <a href="index-4.html">Contacts</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <section class="camera_container">
      <div class="jumbotron text-center">
        <div class="container">
          <p class="head">
            We are the leaders
            <span>
              in the construction industry
            </span>
          </p>

          <p class="ins1">
            Sed eleifend ornare metus, non rhoncus elit ultrices quis. Curabitur et metus ac sapien dictum tempus. Nam blandit sed ligula fa ucibus elementum. Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor id, dictum sollicitudin felis.
            Vestibulum tristique urna ex, eu vehicula magna mattis maximus. Aliquam ut leo ultricies
          </p>
          <a href="#" class="btn-link">Read More</a>
        </div>
      </div>
      <div id="camera" class="camera_wrap">
        <div data-src="/assets/slide3.jpg">
          <div class="camera_caption fadeIn"></div>
        </div>
        <div data-src="/assets/slide2.jpg">
          <div class="camera_caption fadeIn"></div>
        </div>
        <div data-src="/assets/slide1.jpg">
          <div class="camera_caption fadeIn"></div>
        </div>
      </div>
    </section>

  </header>

  <main>
    <section class="well well1">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".9s">

            <img src="/assets/page-1_img1.png" alt=""/>
            <h5 class="ins_r">
              Project Management
            </h5>

            <p class="txt-light">
              Sed eleifend ornare metus, non rho ncus elit ultrices quis. Curabitur et met us ac sapien dictum
            </p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".7s">

            <img src="/assets/page-1_img2.png" alt=""/>
            <h5 class="ins_r">
              Building Innovation
            </h5>

            <p class="txt-light">
              Sed eleifend ornare metus, non rho ncus elit ultrices quis. Curabitur et met us ac sapien dictum
            </p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".5s">

            <img src="/assets/page-1_img3.png" alt=""/>
            <h5 class="ins_r">
              Inspection & Testing
            </h5>

            <p class="txt-light">
              Sed eleifend ornare metus, non rho ncus elit ultrices quis. Curabitur et met us ac sapien dictum
            </p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".3s">

            <img src="/assets/page-1_img4.png" alt=""/>
            <h5 class="ins_r">
              New Technologies
            </h5>

            <p class="txt-light">
              Sed eleifend ornare metus, non rho ncus elit ultrices quis. Curabitur et met us ac sapien dictum
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="well well2 parallax text-center" data-url="/assets/parallax1.jpg" data-mobile="true" data-speed="0.6">
      <div class="container">
        <h2 class="fw-l">
          Striving to excellence<br/>
          in service we provide
        </h2>

        <p class="white ins1 offs1">
          Sed eleifend ornare metus, non rhoncus elit ultrices quis. Curabitur et metus acsapien dict um tempus. Nam blandit sed ligula faucibus elementum. Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor id, dictum sollicitudin feli
        </p>
      </div>
    </section>
    <section class="ang_block bg-primary text-center wow fadeIn" data-wow-duration="1.5s">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">

            <em>
              453
            </em>

            <p>
              clients
            </p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">

            <em>
              765
            </em>

            <p>
              recent projects
            </p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">

            <em>
              27
            </em>

            <p>
              awards
            </p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">

            <em>
              1220
            </em>

            <p>
              members
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="well well3">
      <div class="container">
        <h3 class="text-center">
          Our Services
        </h3>

        <div class="row">

          <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay=".7s">
            <div class="thumbnail thumbnail4">
              <img src="/assets/page-1_img5.jpg" alt="">

              <div class="caption">
                <h6>
                  Vestibulum iaculis lacinia est
                </h6>

                <p>
                  Quisque porttitor sem libero auctor lorem fringilla sit amehasellus gravida nisi elitam egestda. Sedquis rra enim. Vivamus aliquet rutrum dui a varius. Mauris ornare tortor in eleifend blanditu
                </p>
                <a href="#" class="btn-link">
                  <span class="fst" data-txt="Read More"></span>
                  <span class="snd" data-txt="Read More"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay=".5s">
            <div class="thumbnail thumbnail4">
              <img src="/assets/page-1_img6.jpg" alt="">

              <div class="caption">
                <h6>
                  Proin dictum elementum velit
                </h6>

                <p>
                  Vivamus aliquet rutrum dui a varius. Mauris ornare tortor in eleifend blanditullam ut ligula et neque. Nulla interdum dapibus erat nec element. Fusce aliquet tem por mi, vitae sollicitudin arcu convalli
                </p>
                <a href="#" class="btn-link">
                  <span class="fst" data-txt="Read More"></span>
                  <span class="snd" data-txt="Read More"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay=".3s">
            <div class="thumbnail thumbnail4">
              <img src="/assets/page-1_img7.jpg" alt="">

              <div class="caption">
                <h6>
                  Fusce euismod consequat ante
                </h6>

                <p>
                  Sedquis viverra enim. Vivamus aliquet rutrum dui a varius. Mauris ornare tortor in eleifend blanditullam ut ligula et neque. Nulla interdum dapibusce aliquet tempor mi, vitae sollicitudin arcu con
                </p>
                <a href="#" class="btn-link">
                  <span class="fst" data-txt="Read More"></span>
                  <span class="snd" data-txt="Read More"></span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="well well4 parallax text-center" data-url="/assets/parallax2.jpg" data-mobile="true" data-speed="0.6">
      <div class="container">
        <h2>
          We are ready to satisfy<br/>
          your project requirements
        </h2>

        <p class="white ins1">
          Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor id, dictum sollicitudin feli sestibulum tristique urna ex, eu vehicula magna mattis maximus
        </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </section>

    <section class="well well5">
      <div class="container">
        <h3 class="text-center">
          Why Choose Us?
        </h3>

        <p class="text-center">
          Nulla interdum dapibus erat nec elementum. Fusce aliquet tempor mi, vitae sollicitudin arcu convallis id. In id vestibulum sapien. Praesent eg et bibendum purus quis placerat dui. Duis lacinia nisi sit ansequat lorem nunc
        </p>

        <div class="row">

          <ul class="icon-list wow fadeInLeft" data-wow-duration="2s">
            <li class="col-md-4 col-sm-6 col-xs-12">
              <h6>
                <a href="#">
                  Perfect Experience
                </a>
              </h6>

              <p>
                Curabitur et metus ac sapien dictum temp us. Nam blandit sed ligula faucibus eleme ntum. Sed sed consequat nisi.
              </p>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
              <h6>
                <a href="#">
                  Very Competitive Rates
                </a>
              </h6>

              <p>
                Daewd ligula faucibus elementum. Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor id, dictum sollicit
              </p>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
              <h6>
                <a href="#">
                  Satisfaction Guatantee
                </a>
              </h6>

              <p>
                Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor id, dictum sollicitudin felis. Vestibulum tristique urna
              </p>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
              <h6>
                <a href="#">
                  Honest and Dependable
                </a>
              </h6>

              <p>
                Sed eleifend ornare metus, non rhoncus elit ultrices quis. Curabitur et metus ac sapien dictum tempus. Nam blandit sed
              </p>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
              <h6>
                <a href="#">
                  Safety & Reliability
                </a>
              </h6>

              <p>
                Nam blandit sed ligula faucibus elemen tum. Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor
              </p>
            </li>
            <li class="col-md-4 col-sm-6 col-xs-12">
              <h6>
                <a href="#">
                  Superior Quality
                </a>
              </h6>

              <p>
                Etiam mauris massa, sodales lobortis tort or id, dictum sollicitudin felis. Vestibulum tristique urna ex, eu vehicula
              </p>
            </li>
          </ul>

        </div>
      </div>
    </section>

    <section class="well well6 bg-primary">
      <div class="container">
        <div class="mailform-sub">

          <p>
            Subscribe to our Newsletter
          </p>

          <form class='mailform' method="post" action="bat/rd-mailform.php" data-type="contact">

            <div class="form-group" data-add-placeholder>
              <label for="mailform-input-email">Your email address</label>
              <input id="mailform-input-email" type="text" name="email" data-constraints="@Email @NotEmpty"/>
            </div>

            <div class="form-group mfControls">
              <button class="btn" type="submit">Subscribe</button>
            </div>
          </form>

        </div>
      </div>
    </section>

    <div class="map">
      <div id="google-map" class="map_model"></div>
      <ul class="map_locations">
        <li data-x="-73.9874068" data-y="40.643180">
          <p>
            9870 St Vincent Place, Glasgow, DC 45 Fr 45.
            <span>800 2345-6789</span>
          </p>
        </li>
      </ul>
    </div>
  </main>

</div>
