<section class="camera_container">
  <div class="jumbotron text-center">
    <div class="container">
      <p class="head" >
        ElFouly and Co.
        <span>
          Technical Supply and Errecting Company
        </span>
      </p>
    </div>
  </div>
  <div id="camera" class="camera_wrap">
    <div data-src="/assets/slide3.jpg">
      <div class="camera_caption fadeIn"></div>
    </div>
    <div data-src="/assets/slide2.jpg">
      <div class="camera_caption fadeIn"></div>
    </div>
    <div data-src="/assets/slide1.jpg">
      <div class="camera_caption fadeIn"></div>
    </div>
  </div>
</section>


<section class="well well1">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".9s">

        <img src="/assets/page-1_img1.png" alt=""/>
        <h5 class="ins_r">
          Project Management
        </h5>

        <p class="txt-light">
          Sed eleifend ornare metus, non rho ncus elit ultrices quis. Curabitur et met us ac sapien dictum
        </p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".7s">

        <img src="/assets/page-1_img2.png" alt=""/>
        <h5 class="ins_r">
          Building Innovation
        </h5>

        <p class="txt-light">
          Sed eleifend ornare metus, non rho ncus elit ultrices quis. Curabitur et met us ac sapien dictum
        </p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".5s">

        <img src="/assets/page-1_img3.png" alt=""/>
        <h5 class="ins_r">
          Inspection & Testing
        </h5>

        <p class="txt-light">
          Sed eleifend ornare metus, non rho ncus elit ultrices quis. Curabitur et met us ac sapien dictum
        </p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay=".3s">

        <img src="/assets/page-1_img4.png" alt=""/>
        <h5 class="ins_r">
          New Technologies
        </h5>

        <p class="txt-light">
          Sed eleifend ornare metus, non rho ncus elit ultrices quis. Curabitur et met us ac sapien dictum
        </p>
      </div>
    </div>
  </div>
</section>

<section class="well well2 parallax text-center" data-url="/assets/parallax1.jpg" data-mobile="true" data-speed="0.6">
  <div class="container">
    <h2 class="fw-l">
      Our History
    </h2>
    <p class="white ins1 offs1">
      Sed eleifend ornare metus, non rhoncus elit ultrices quis. Curabitur et metus acsapien dict um tempus. Nam blandit sed ligula faucibus elementum. Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor id, dictum sollicitudin feli
    </p>
  </div>
</section>
<section class="ang_block bg-primary text-center wow fadeIn" data-wow-duration="1.5s">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">

        <em>
          453
        </em>

        <p>
          clients
        </p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">

        <em>
          765
        </em>

        <p>
          recent projects
        </p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">

        <em>
          27
        </em>

        <p>
          awards
        </p>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">

        <em>
          1220
        </em>

        <p>
          members
        </p>
      </div>
    </div>
  </div>
</section>

<section class="well well3">
  <div class="container">
    <h3 class="text-center">
      Latest News
    </h3>

    <div class="row">
      <% @articles.each do |a| %>
        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay=".7s">
          <div class="thumbnail thumbnail4">
            <img src="<%= a.asset.url(:small) %>" alt="">

            <div class="caption">
              <h6>
                <%= link_to a.title, article_path(a) %>
              </h6>

              <p>
                <%= a.summary %>
              </p>

            </div>
          </div>
        </div>
      <% end %>
    </div>






    </div>
  </div>
</section>

<div class="map">
  <div id="google-map" class="map_model"></div>
  <ul class="map_locations">
    <li data-x="-73.9874068" data-y="40.643180">
      <p>
        9870 St Vincent Place, Glasgow, DC 45 Fr 45.
        <span>800 2345-6789</span>
      </p>
    </li>
  </ul>
</div>
