<section class="well well7">
  <div class="container">
    <h3 class="text-center">
      What We Do
    </h3>

    <p class="text-center">
      Nulla interdum dapibus erat nec elementum. Fusce aliquet tempor mi, vitae sollicitudin arcu
      convallis id. In id vestibulum sapien. Praesent eg
      et bibendum purus quis placerat dui. Duis lacinia nisi sit ansequat lorem nunc
    </p>

    <div class="row">
      <ul class="index-list index-list_mod col-4_mod">
        <li class="col-md-4 col-sm-6 col-xs-12">

          <h6>
            <a href="#">
              Lacinia estroin dictu
            </a>
          </h6>

          <p>
            Curabitur et metus ac sapien dictum temp us. Nam blandit sed ligula faucibus eleme
            ntum. Sed sed consequat nisi.
          </p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">

          <h6>
            <a href="#">
              Dictum lementum
            </a>
          </h6>

          <p>
            Daewd ligula faucibus elementum. Sed sed consequat nisi. Etiam mauris massa, sodales
            lobortis tortor id, dictum sollicit
          </p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">

          <h6>
            <a href="#">
              Donec eget tellus non
            </a>
          </h6>

          <p>
            Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor id, dictum
            sollicitudin felis. Vestibulum tristique urna
          </p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">

          <h6>
            <a href="#">
              Proin dictum lementu
            </a>
          </h6>

          <p>
            Sed eleifend ornare metus, non rhoncus elit ultrices quis. Curabitur et metus ac sapien
            dictum tempus. Nam blandit sed
          </p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">

          <h6>
            <a href="#">
              Scelerisque vitae
            </a>
          </h6>

          <p>
            Nam blandit sed ligula faucibus elemen
            tum. Sed sed consequat nisi. Etiam mauris massa, sodales lobortis tortor
          </p>
        </li>
        <li class="col-md-4 col-sm-6 col-xs-12">

          <h6>
            <a href="#">
              Lacinia fermentum
            </a>
          </h6>

          <p>
            Etiam mauris massa, sodales lobortis tort
            or id, dictum sollicitudin felis. Vestibulum tristique urna ex, eu vehicula
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
