<section class="well well7">
  <div class="container">
    <h3 class="text-center">
      <%= t :imports %>
    </h3>

    <p class="text-center">
      <%= t :imports_text %>
    </p>
    <div class="row">

      <ul class="index-list index-list_mod">
        <% @imports.each do |s| %>
          <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top:30px; margin-bottom:30px;">

            <h6>
              <a href="#">
                <%= s.title %>
              </a>
            </h6>

            <p>
              <%= s.text %>
            </p>
          </li>

        <% end %>
      </ul>
    </div>

  </div>
</section>
