h1.navbar-brand {
  margin: 0 !important;
}

.bg-primary{
  background: #28527B;
}
.flex-container-custom {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-item-custom {
  padding: 5px;
  line-height: 20px;
  text-align: center;
}
.row-equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row-equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.g-item{
    background-position: center;
    background-size: cover;
}

.paginate-center{
  text-align:center;
}
