<footer>
  <section class="well_foot-1 well-10 well-10-mod bg1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">

          <h4>about</h4>

          <p class="big">
            We provide geotechnical engineering and construction inspection services for a wide variety of transportation, power plant and utility, industrial, commercial, and residential projects.
            <br/>
            <br/>
            Our geotechnical designs assure project performance and provide practical and cost-effective solutions.
          </p>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 clear-md">

          <h4>
            Contact
          </h4>
          <address class="h7">
            <b>20 Adly Street, Cairo, Egypt.</b>
          </address>
          <address class="addr1">

            <dl>
              <dt>Telephone:</dt>
              <dd>
                <a href='callto:#'>
                  +202 3939 057</a>
              </dd>
              <dt></dt>
              <dd>
                <a href='callto:#'>
                  +202 3926 505</a>
              </dd>
              <dt>FAX:</dt>
              <dd>
                <a href='callto:#'>
                  +202 3926 505</a>
              </dd>
              <dt>TELEX:</dt>
              <dd>
                <a href='callto:#'>
                  21791</a>
              </dd>
            </dl>
            <dl class="mail">
              <dt>E-mail:</dt>
              <dd>
                <a href="mailto:#">info@elfoulycompany.com</a>
              </dd>
              <dt>
                <dd>
                  <a href="mailto:#">gm@elfoulycompany.com</a>
                </dd>
              </dt>
            </dl>
          </address>

        </div>

      </div>
    </div>
  </section>
</footer>
